<p style="color: green"><%= notice %></p>

<h2><%= @book.title %></h2>
<p>著者: <%= @book.author %></p>
<p>ISBN: <%= @book.isbn %></p>
<p>カテゴリ: <%= @book.category %></p>
<p>総冊数: <%= @book.total_copies %></p>
<p>貸出中: <%= @book.borrowed_count %></p>
<p>貸出可能数: <%= @book.available_count %></p>

<div>
  <%= link_to "編集する", edit_book_path(@book) %> |
  <%= button_to "削除する", @book, method: :delete, data: { confirm: "本当に削除しますか？" } %>
</div>

<% if current_user %>
  <% if @book.available_count > 0 %>
    <%= form_with url: borrow_book_path(book_id: @book.id), method: :post do %>
      <%= submit_tag "この本を借りる", class: "btn btn-primary" %>
    <% end %>
  <% else %>
    <p style="color: red;">この本はすでに全て貸出中です。</p>
  <% end %>

  <% loan = @book.loans.find_by(user: current_user, returned_at: nil) %>
  <% if loan %>
    <%= form_with url: return_book_path(loan), method: :patch do %>
      <%= submit_tag "この本を返却する", class: "btn btn-warning" %>
    <% end %>
  <% end %>
<%= link_to "一覧に戻る", books_path, class: "btn btn-secondary" %>
<% else %>
  <p>ログインしてください。</p>
<% end %>
